<main class="main">
    <molla-page-header title="Privacy" subtitle="Policy"></molla-page-header>
    <nav class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a routerLink="/">Home</a>
                </li>
                <li class="breadcrumb-item active">Shipping Policy</li>
            </ol>
        </div>
    </nav>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1>Size Guide</h1>
                    <!-- <h4>Cancellation, Return and Refund Policy
                    </h4> -->
                   <p style="font-weight: 800; color: black;"> Shoes</p>
                  
                   <table style="width: 100%;">
                    <thead>
                        <tr>
                            <th>UK / India</th>
                            <th>EU</th>
                            <th>US</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                35
                            </td>
                            <td>5</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>
                                36
                            </td>
                            <td>6</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>
                                37
                            </td>
                            <td>7</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>
                                38
                            </td>
                            <td>8</td>
                            <td>6</td>
                        </tr>
                        <tr>
                            <td>
                                39
                            </td>
                            <td>9</td>
                            <td>7</td>
                        </tr>
                        <tr>
                            <td>
                                40
                            </td>
                            <td>10</td>
                            <td>8</td>
                        </tr>
                    </tbody>
                   </table>
                </div>
            </div> 
            
            <div class="row mt-4">
                <div class="col-lg-6">
                    
                    <!-- <h4>Cancellation, Return and Refund Policy
                    </h4> -->
                  <p style="font-weight: 800; color: black;">Tops</p> 
                   <table style="width: 100%;">
                    <thead>
                        <tr>
                            <th>Size</th>
                            <th>UK</th>
                            <th>US</th>
                            <th>EU</th>
                            <th>Bust</th>
                            <th>Waist</th>
                            <th>Hips</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                XS
                            </td>
                            <td>6</td>
                            <td>2</td>
                            <td>34</td>
                            <td>33"</td>
                            <td>25"</td>
                            <td>35"</td>
                        </tr>
                        <tr>
                            <td>
                                S
                            </td>
                            <td>8</td>
                            <td>4</td>
                            <td>36</td>
                            <td>34"</td>
                            <td>26"</td>
                            <td>36"</td>
                        </tr>
                        <tr>
                            <td>
                                M
                            </td>
                            <td>10</td>
                            <td>6</td>
                            <td>38</td>
                            <td>36"</td>
                            <td>28"</td>
                            <td>38"</td>
                        </tr>
                        <tr>
                            <td>
                                L
                            </td>
                            <td>12</td>
                            <td>8</td>
                            <td>40</td>
                            <td>38"</td>
                            <td>30"</td>
                            <td>40"</td>
                        </tr>
                        <tr>
                            <td>
                                XL
                            </td>
                            <td>14</td>
                            <td>10</td>
                            <td>42</td>
                            <td>40"</td>
                            <td>32"</td>
                            <td>42"</td>
                        </tr>
                        <tr>
                            <td>
                                2XL
                            </td>
                            <td>16</td>
                            <td>12</td>
                            <td>44</td>
                            <td>42"</td>
                            <td>34"</td>
                            <td>44"</td>
                        </tr>
                        <tr>
                            <td>
                                3XL
                            </td>
                            <td>18</td>
                            <td>14</td>
                            <td>46</td>
                            <td>44"</td>
                            <td>36"</td>
                            <td>46"</td>
                        </tr>
                        <tr>
                            <td>
                                4XL
                            </td>
                            <td>20</td>
                            <td>16</td>
                            <td>48</td>
                            <td>46"</td>
                            <td>38"</td>
                            <td>48"</td>
                        </tr>
                    </tbody>
                   </table>
                </div>
            </div> 

            <div class="row mt-4">
                <div class="col-lg-6">
                    
                    <!-- <h4>Cancellation, Return and Refund Policy
                    </h4> -->
                   <p style="font-weight: 800; color: black;">Dresses, Jumpsuits</p> 
                   <table style="width: 100%;">
                    <thead>
                        <tr>
                            <th>Size</th>
                            <th>UK</th>
                            <th>US</th>
                            <th>EU</th>
                            <th>Bust</th>
                            <th>Waist</th>
                            <th>Hips</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                XS
                            </td>
                            <td>6</td>
                            <td>2</td>
                            <td>34</td>
                            <td>33"</td>
                            <td>25"</td>
                            <td>35"</td>
                        </tr>
                        <tr>
                            <td>
                                S
                            </td>
                            <td>8</td>
                            <td>4</td>
                            <td>36</td>
                            <td>34"</td>
                            <td>26"</td>
                            <td>36"</td>
                        </tr>
                        <tr>
                            <td>
                                M
                            </td>
                            <td>10</td>
                            <td>6</td>
                            <td>38</td>
                            <td>36"</td>
                            <td>28"</td>
                            <td>38"</td>
                        </tr>
                        <tr>
                            <td>
                                L
                            </td>
                            <td>12</td>
                            <td>8</td>
                            <td>40</td>
                            <td>38"</td>
                            <td>30"</td>
                            <td>40"</td>
                        </tr>
                        <tr>
                            <td>
                                XL
                            </td>
                            <td>14</td>
                            <td>10</td>
                            <td>42</td>
                            <td>40"</td>
                            <td>32"</td>
                            <td>42"</td>
                        </tr>
                        <tr>
                            <td>
                                2XL
                            </td>
                            <td>16</td>
                            <td>12</td>
                            <td>44</td>
                            <td>42"</td>
                            <td>34"</td>
                            <td>44"</td>
                        </tr>
                        <tr>
                            <td>
                                3XL
                            </td>
                            <td>18</td>
                            <td>14</td>
                            <td>46</td>
                            <td>44"</td>
                            <td>36"</td>
                            <td>46"</td>
                        </tr>
                        <tr>
                            <td>
                                4XL
                            </td>
                            <td>20</td>
                            <td>16</td>
                            <td>48</td>
                            <td>46"</td>
                            <td>38"</td>
                            <td>48"</td>
                        </tr>
                    </tbody>
                   </table>
                </div>
            </div> 
        </div>
    </section>

</main>

