<main class="main">
    <molla-page-header title="Cancellation Policy" subtitle="Policy"></molla-page-header>
    <nav class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a routerLink="/">Home</a>
                </li>
                <li class="breadcrumb-item active">Cancellation Policy</li>
            </ol>
        </div>
    </nav>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1>Cancellation Policy of Black Brusa</h1>
                    <h4>What is Black Brusa Cancellation Policy? </h4>
                    <p>You can cancel an order through the Black Brusa website/M-site until it has been packed at our warehouse. This includes items purchased on sale also. Any amount paid will be credited into the same payment mode using which the payment was made. Still, if you wish to cancel your order after the order is packed, reach out to our Customer Care team at customercare@blackbrusa.com or on +91 99999 00000.</p>
                    <h4>How do I cancel my order? </h4>
                    <p>For order cancellation, please contact our Customer Care team at customercare@blackbrusa.com or on +91- . Kindly 
                        note, orders can only is cancelled before they are packed in our warehouse. </p>
                </div>
            </div>  
        </div>
    </section>

</main>
