// ::ng-deep .product.product-5 .product-body:hover {
//     background-color: #000 !important;
//     color: #0e2c5e !important;
// }
::ng-deep .product.product-5 .product-body {
    background-color: #0e2c5e !important;
    color: #fff !important;
}
::ng-deep .product.product-5 .product-body a:hover {
    // background-color: #000 !important;
    color: #000 !important;
}
::ng-deep .product.product-5 .product-body a {
    // background-color: #0e2c5e !important;
    color: #fff !important;
}