<main class="main">
    <molla-page-header title="Privacy" subtitle="Policy"></molla-page-header>
    <nav class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a routerLink="/">Home</a>
                </li>
                <li class="breadcrumb-item active">Shipping Policy</li>
            </ol>
        </div>
    </nav>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1>Shipping Policy of Black Brusa</h1>
                    <!-- <h4>Cancellation, Return and Refund Policy
                    </h4> -->
                    <h3>How long will it take for my order to reach me?</h3>
                    <p>We process and ship every order within 48-72 business hours of receiving it. Your order will get delivered within 5-7 business days depending on your location in India. In some cases, it may take longer to receive the shipment depending on the accessibility of your location.
                    </p>
                    <h3>What delivery methods do you use?
                    </h3>
                    <p>We use leading courier companies such as Ecom Express for shipment in India.</p>
                    <h3>What should be done if my package has been opened or tampered with?
                    </h3>
                    <p>If your package has been opened or tampered with, we request you to not accept the shipment and immediately inform our customer care team via phone at +91-8178566024 / customercare@blackbrusa.com. Kindly note, any intimation after 24 hours of the attempted delivery, will not be considered.</p>
                </div>
            </div>  
        </div>
    </section>

</main>
