<main class="main">
    <molla-page-header title="Order & Payment Policy" subtitle="Order & Payment Policy"></molla-page-header>
    <nav class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a routerLink="/">Home</a>
                </li>
                <li class="breadcrumb-item active">Order & Payment Policy</li>
            </ol>
        </div>
    </nav>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 order_policy">
                    <h1>ORDERS & PAYMENT POLICY</h1>
                    <h4>How can I place an order on the Black Brusa website/M-Site?</h4>
                    <p>Just go through these simple steps to place an order on our website/M-site - </p>

                    <ol>
                        <li>1. <p class="mb-1"> Click on the product to be ordered, select the desired size and click
                                "ADD TO BAG" </p>
                        </li>
                        <li>2. <p class="mb-1"> Go to your bag page, once you have added all the products you wish to
                                buy </p>
                        </li>
                        <li>3. <p class="mb-1"> You can check for any applicable coupon codes by clicking on ‘Apply
                                Coupon’ </p>
                        </li>
                        <li>4. <p class="mb-1">Sign in to your account using your registered email id and password. If
                                you are a first time visitor, you proceed to checkout as a Guest User or create a new
                                account in one short step for a seamless shopping experience and faster checkout. </p>
                        </li>
                        <li>5. <p class="mb-1">Enter your shipping and billing address </p>
                        </li>
                        <li>6. <p class="mb-1">Choose from prepaid & COD payment options</p>
                        </li>
                        <li>7. <p class="mb-1">Re-check your order details </p>
                        </li>
                        <li>8. <p class="mb-1">Click on "Place Order"</p>
                        </li>
                        <li>9. <p class="mb-1">In case you have selected a prepaid option, you will be re-directed to a
                                fully secure payment gateway where you need to enter your card/wallet details. </p>
                        </li>
                        <li>10. <p class="mb-1">Once the order is placed successfully, you will receive an order
                                confirmation email and SMS with all your order
                                information. </p>
                        </li>
                    </ol>

                    <h4>What are the payment options available? </h4>
                    <ol>
                        <li class="mb-1">1. <p>Credit/Debit card</p>
                        </li>
                        <li class="mb-1">2. <p>Net Banking</p>
                        </li>
                        <li class="mb-1">3. <p>UPI</p>
                        </li>
                        <li class="mb-1">4. <p>Cash on Delivery (for India) </p>
                        </li>
                        <li class="mb-1">5. <p> Mobile wallets (Paytm, Amazon Pay, Freecharge, Ola Money, PayZapp,
                                Airtel Money, PhonePe, BHIM UPI) </p>
                        </li>
                    </ol>

                    <h4>Is it safe to use my credit/debit card on the Black Brusa site? </h4>
                    <p>You can be assured that Black Brusa offers you the highest standards of security currently
                        available online to ensure that your shopping experience is private, safe, and secure. We work
                        with only reliable and secure payment partners are PCI DSS compliant. Your bank will authorize
                        the credit card transaction directly without any information passing through to us. We do not
                        retain your banking information. </p>
                    
                    <h4>How do I redeem a coupon. </h4>
                    <p>Once you have shortlisted the product you wish to buy, select the size and click ‘Add to Bag’, and view your cart. Here you can enter the discount/coupon code, click on Apply Code, and follow the rest of the instructions to place your order. </p>

                    <h4>Is there a purchase limit for Cash on Delivery (COD) purchase? </h4>
                    <p>The Cash On Delivery option is available on purchases of up to Rs. 4,000. Beyond this amount, purchases can only made 
                    using Net Banking, Credit/Debit Card, UPI, and Mobile Wallets</p>

                    <h4>How do I pay the courier executive for a COD purchase </h4>
                    <p>You may pay the courier executive using cash. </p>
                </div>
            </div>
        </div>
    </section>

</main>