<main class="main">
    <molla-page-header title="Return & Exchange" subtitle="Return & Exchange"></molla-page-header>
    <nav class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a routerLink="/">Home</a>
                </li>
                <li class="breadcrumb-item active">Return & Exchange</li>
            </ol>
        </div>
    </nav>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 order_policy">
                    <h1>Return & Exchange</h1>

                    <p>Black Brusa’s 15-days returns and exchange policy gives you an option to return or exchange items
                        purchased from the Black
                        Brusa website/m-site for any reason within 15 days of receipt of the item. We only ask that you
                        don't use the product and
                        preserve its original condition, tags and packaging. You are welcome to try on a product but
                        please take adequate measures to
                        preserve its condition. </p>

                    <p>Kindly note, all exchanges are subject to stock availability. Please also note that we only offer
                        size exchanges. If you wish to
                        exchange your item for an alternate product, we suggest that you return it to obtain store
                        credit and purchase the new item
                        separately.
                    </p>

                    <p>The following EXCEPTIONS and RULES apply to our 15-days Return & Exchange Policy:
                    </p>

                    <ol>
                        <li>1. <p class="mb-1"> All items to be returned or exchanged must be unused and should be in
                                their original condition with all tags and packaging
                                intact (e.g. shoes must be packed in the original shoe box). </p>
                        </li>
                        <li>2. <p class="mb-1">We only accept returns for products purchased directly from Black Brusa’s
                                website, mobile site. Any return request for
                                products purchased from our indirect online and offline distributors will be declined by
                                us.</p>
                        </li>
                        <li>3. <p class="mb-1">Please note that we do not refund the shipping or COD charges incurred by
                                you. </p>
                        </li>
                        <li>4. <p class="mb-1">The exchange policy allows for only size exchanges. </p>
                        </li>
                        <li>5. <p class="mb-1">If you self-ship your return/exchange, kindly pack the items securely to
                                prevent any loss or damage during transit. For all
                                self-shipped returns, we recommend you use a reliable courier service. A fixed amount of
                                Rs. 100 will be reimbursed
                                subject to the return having met our Returns and Exchange Policy</p>
                        </li>
                        <li>6. <p class="mb-1"> Please check the items, type of return/exchange, and other related
                                details carefully. Our courier partner will pick up only the
                                items mentioned at the time of submitting the return/exchange request by you
                            </p>
                        </li>
                        <li>7. <p class="mb-1"> In case the items handed over to the courier person don't match the
                                details of the items mentioned in the return/exchange
                                request, we will conduct an internal probe and get back to you accordingly </p>
                        </li>
                        <li>8. <p class="mb-1"> If you self-ship any product without officially informing us through our
                                return/exchange process, we will not do the process
                                of return</p>
                        </li>
                    </ol>
                    <h4>How do I return products purchased from Black Brusa? </h4>
                    <p>You can return products purchased from Black Brusa within 15 days of receiving the product.
                        Please follow these steps - </p>
                    <ol>
                        <li>1. <p class="mb-1"> Click on 'Return’ under the “My Orders” section of the Black Brusa
                                Website/M-site and follow the instructions. Please
                                make a note of the Return ID that is generated at the end of the process. </p>
                        <li>2. <p class="mb-1">Please note, if the mode of payment for the order was Cash on Delivery,
                                you have the option to get the money refunded to a
                                bank account of your choice or take the refund as Black Brusa store credits for future
                                purchases with us. If you choose a
                                bank transfer, please ensure the bank account details you enter are accurate and
                                complete. Brusa King Private Limited will
                                not validate a bank account number and will not be responsible for funds transferred to
                                an unintended recipient.
                            </p>
                        <li>3. <p class="mb-1">We offer a pick-up facility in select locations basis our courier
                                serviceability. If you select to schedule a pick-up, please
                                place the product(s) in a packet. The product(s) must be unused, unwashed and all the
                                tags should be intact. We will pick up
                                the return within 1 - 3 business days from the request placement date. Keep the packet
                                ready to expedite the return pickup.
                            </p>
                        <li>4. <p class="mb-1">We offer a pick-up facility in select locations basis our courier
                                serviceability. If you select to schedule a pick-up, please
                                place the product(s) in a packet. The product(s) must be unused, unwashed and all the
                                tags should be intact. We will pick up
                                the return within 1 - 3 business days from the request placement date. Keep the packet
                                ready to expedite the return pickup.
                                the tags are intact. Please do mention the Order No. and Return ID on a piece of paper
                                and place it in the packet. Kindly
                                address the package to the following address -
                            </p>
                    </ol>
                    <p class="paragraph">Brusa King Private Limited. </p>
                    <p class="paragraph">H-9, Sector-33 </p>
                    <p class="paragraph">Gurgaon  </p>
                    <p class="paragraph">Haryana - 122001 </p>
                    <p class="paragraph">India </p>

                    <p>We request you to share the courier details with us on customercare@blackbrusa.com or WhatsApp us on +91- for 
                        us to initiate the Rs.100 store credits to your account, valid for all your future purchases with Black Brusa. Any product 
                        self-shipped after 7 days of raising a return request will not be considered. We will send you a confirmation email as soon as 
                        we receive the shipment at our warehouse. 
                        </p>
                    
                    <h4>How do I place an exchange request on Black Brusa? </h4>
                    <p>If you want to exchange products purchased from Black Brusa, please follow the below-mentioned steps: </p>

                    <ol>
                        <li>1. <p class="mb-1"> You can create an exchange request for products purchased from Black Brusa within 15 days of its delivery under the “My 
                            Orders” section of the Black Brusa Website/M-site. </p></li>
                        <li>2. <p class="mb-1">We offer a pick-up facility in select locations basis our courier serviceability. If you select to schedule a pick-up, please 
                            place the product(s) in a packet. The product(s) must be unused, unwashed and all the tags should be intact. We will pick up 
                            the exchange within 1 - 3 business days from the exchange request placement date. </p></li>
                        <li>3. <p class="mb-1">Once your product is picked, the exchange process will be initiated within 24-48 business hours. A new product in the size 
                            you requested will be dispatched to you in the following 48-72 business hours. 
                            </p></li>
                        <li>4. <p class="mb-1"> If the reverse pick-up option is not available at your location, you can self-ship the product(s) to us by any reliable courier 
                            service within 7 days of raising an exchange request. Please pack the product(s) and ensure that it is unused, unwashed and 
                            all the tags are intact. Please do mention the Order No. and Exchange ID on a piece of paper and place it in the packet. 
                            Kindly address the package to the following address - 
                            </p></li>
                            <p class="paragraph">Brusa King Private Limited. </p>
                            <p class="paragraph">H-9, Sector-33 </p>
                            <p class="paragraph">Gurgaon  </p>
                            <p class="paragraph">Haryana - 122001 </p>
                            <p class="paragraph">India </p>
                            <p>We request you to share the courier details with us on customercare@blackbrusa.com or WhatsApp us on +91- for 
                                us to initiate the Rs.100 store credits to your account, valid for all your future purchases with Black Brusa. Any product 
                                self-shipped after 7 days of raising a return request will not be considered. We will send you a confirmation email as soon as 
                                we receive the shipment at our warehouse 
                                </p>
                        <li>5. <p class="mb-1">Once we receive the product, it will go through a quality check at our warehouse post which, we will initiate the exchange 
                            process in the next 24-48 business hours. A brand new product in the size you requested will be dispatched to you in the 
                            following 48-72 business hours. </p></li>
                        <li>6. <p class="mb-1">Please note that if the exchange size is not available at our warehouse, we will contact you to convert your return into store 
                            credit or refund, as per your preference. 
                            </p></li>
                        <li>7. <p class="mb-1">In case you face any size issue with the exchanged product as well, please note that we will not provide a further exchange. 
                            You may self-ship the exchange back to us, and we will process store credit/refund for the same (excluding Shipping and/or 
                            COD charges) as per your preference. </p></li>
                    </ol>

                    <h4>What should I do if I receive a damaged/defective/incomplete/wrong order from Black Brusa? </h4>
                    <p>For any defective/ damaged/incomplete/wrong order delivered, we request you to inform us within 48 hours of receiving the 
                        order with the images of the product received. You can do so by clicking on 'Return’ under the ‘My Orders’ section of the Black 
                        Brusa Website/M-site and follow the instructions to upload the images. Please keep in mind the following– </p>

                    <ol>
                        <li>1. <p class="mb-1"> You need to upload a minimum of 3 and a maximum of 5 pictures</p></li>
                        <li>2. <p class="mb-1"> Kindly ensure the images are clear and the damaged/defective/missing part of the outfit is highlighted in red</p></li>
                        <li>3. <p class="mb-1"> You must send us an image of the original labels and tags intact along with the invoice. </p></li>
                    </ol>
                    <p>In case you face any technical difficulties in following this process, kindly get in touch with us on customercare@blackbrusa.com 
                        or call us on +91- We will then investigate the case and reply within 48 hours with the best available resolution. 
                        Any such complaint raised after 48 hours of receiving the order may not be considered. </p>


                    <h4>Why did the pick-up of my product fail? </h4>
                    <p>We make three attempts to pick up the item. If the item is not picked up on the two attempt, the pickup request will be marked as 
                        failed </p>

                    <h4>How do I return/exchange multiple products from a single order? </h4>
                    <ol>
                        <li>1. <p class="mb-1">If you are returning/exchanging multiple products from a single order together, we will generate a single Return 
                            ID/Exchange ID for all products and you will receive an e-mail and SMS confirmation for the same</p></li>
                        <li>2. <p class="mb-1">If you wish to return/exchange another product from a single order at a later date, still within the 15-days return policy, we 
                            will accept your return/exchange and arrange a reverse pick-up for the second time. The subsequent returns/exchanges for 
                            the same order will be self-shipped by you and no reimbursement for the same will be provided by us in any form.</p></li>
                    </ol>

                    <h4>How long will it take for me to receive the refund of my returned product? </h4>
                    <ol>
                        <li>1. <p class="mb-1"> If your return order is picked up by us, the refund process will be initiated within 24-48 business hours of the pickup, and a 
                            refund confirmation email and SMS will be sent to you. The refund amount will reflect in your source account in the next 5-
                            7 business days. In case the refund is to be made in the form Black Brusa Store Credits, the amount will reflect in 24-48 
                            business hours.</p></li>
                        <li>2. <p class="mb-1"> If you self-ship the return order, the product(s) will first go through a quality check at our end. Once it clears the check, the 
                            refund process will be initiated within 24-48 business hours and the amount will reflect in your source account in the next 5-
                            7 business days. If the refund is to be made in the form of Black Brusa Store Credits, the amount will reflect in 24-48 
                            business hours. In case the product does not meet our quality check, we will not be able to process the refund </p></li>
                        <li>3. <p class="mb-1"> In case of any refund discrepancies, Black Brusa may at its sole discretion, request you to share with us a screenshot of 
                            your bank/credit card/wallet statement. </p></li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

</main>