<!-- <footer class="footer footer-2">
    <div class="footer-middle">
        <div [ngClass]="containerClass">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-12 order-md-4">
                   <div class="social_icons">
                       <ul>
                           <a href="https://www.facebook.com/blackbrusa"><li><i class="fa-brands fa-facebook"></i></li></a>
                           <a href="https://www.instagram.com/black_brusa/"><li><i class="fa-brands fa-instagram"></i></li></a>
                           
                       </ul>
                   </div>
                </div>
                
                <div class="col-lg-3 col-md-6 col-12 order-md-1">
                    <div class="widget">
                        <h4 class="widget-title">Help</h4>

                        <ul class="widget-list">
                            <li><a [routerLink]="['/privacy']">Privacy Policy</a></li>
                            <li><a [routerLink]="['/cancelpolicy']">Cancellation Policy</a></li>
                            <li><a [routerLink]="['/orderpolicy']">Order Policy</a></li>
                            
                            
                            <li style="font-weight: 600;">Head Office Address</li>
                            <li>Brusa King Private Limited</li>
                            <li>Plot no 41, near by Hero Honda Chowk, Gurgaon 122001 haryana</li>

                            <li style="font-weight: 600;">Return Office Address</li>
                            <li>Brusa King Private Limited</li>
                            <li>Plot No - 9, Sector - 33, Near By Hero Honda Chowk, Gurugram, Haryana 122001</li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-12 order-md-2">
                    <div class="widget">
                        <h4 class="widget-title">Store</h4>

                        <ul class="widget-list">
                            <li><a href="javascript:;">Accosories</a></li>
                            <li><a href="javascript:;">Women Fashion</a></li>
                            <li><a href="javascript:;">Store Sale</a></li>
                            <li><a href="javascript:;">Shipping</a></li>
                            <li><a href="javascript:;">Collections</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-12 order-md-3">
                    <div class="widget">
                        <h4 class="widget-title">Support</h4>

                        <ul class="widget-list">
                           
                            <li><a [routerLink]="['/contactUs']">Contact us</a></li>
                            <li><a [routerLink]="['/contactUs']">Customer Service</a></li>
                            <li><a [routerLink]="['/Terms&Condition']">Terms & condition</a></li>
                            <li><a href="javascript:;">Shipping & Delivery</a></li>
                            <li><a [routerLink]="['/returnexchange']">Return Exchange</a></li>
                            
                            <li><a href="javascript:;">Refund Policy</a></li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <div class="mb-10" *ngIf="isBottomSticky"></div>

</footer> -->

<footer class="footer">
    <div class="container">
        <div class="row row_border">
            <div class="col-lg-3">
                <div class="set_border">
                    <h1>Company</h1>
                    <ul>
                        <li><a [routerLink]="['/aboutUs']">About Us</a></li>
                        <li><a [routerLink]="['/contactUs']">Contact Us</a></li>
                        <li><a [routerLink]="['/Terms&Condition']">Terms & Condition</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="set_border1">
                    <div class="row">
                        <div class="col-12">
                            <div class="help">
                                <h1>Help</h1>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div>
                                <ul>
                                    <li><a [routerLink]="['/privacy']">Privacy Policy</a></li>
                                    <li><a [routerLink]="['/returnexchange']">Returns & Exchange</a></li>
                                    <li><a [routerLink]="['/cancelpolicy']">Cancellation policy</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div>
                                <ul>
                                    <li><a [routerLink]="['/orderpolicy']">Order Policy</a></li>
                                    <li><a [routerLink]="['/contactUs']">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
            <div class="col-lg-3">
                <div class="connect">
                    <h1>Connect With Us</h1>
                    <ul style="display: inline-flex;">
                        <li class="social_set"><a href="https://www.facebook.com/blackbrusa"><i class="fa-brands fa-facebook set_design"></i></a></li>
                        <li class="social_set"><a href="https://www.instagram.com/black_brusa/"><i class="fa-brands fa-instagram set_design"></i></a></li>
                        <li class="social_set"><a href="https://www.linkedin.com/company/black-brusa/"><i class="fa-brands fa-linkedin-in set_design"></i></a></li>
                        
                    </ul>
                </div>
            </div>
        </div>
        <div class="row concern">
            <div class="col-lg-12">
                <div>
                    <h1>In Case of Any Concern Contact Us</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="set_border">
                    <h1>Head office address</h1>
                    <h3>Brusa King Private Limited</h3>
                    <p>Plot No 41, Near By Hero Honda Chowk, Gurgaon 122001 haryana</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="return set_border">
                    <h1>Return Office Address</h1>
                    <h3>Brusa King Private Limited</h3>
                    <p>Plot No - 9, Sector - 33, Near By Hero Honda Chowk, Gurugram, Haryana 122001</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="payment">
                    <h1>Payment Method</h1>
                    <img src="../../../../assets/images/patmentimg.png" alt="">
                </div>
            </div>
        </div>
    </div>
</footer>