.footer {
    padding: 4% 0 4% 0;
}

.social_icons ul{
    display: inline-flex;
}
.social_icons {
    line-height: 10;
}
.social_icons li {
    padding: 0px 25px 0px 1px
}
.social_icons li i{
    // border: 1px solid;
    padding: 40%;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
}
.footer-2 {
    background-color: #fff;
}
::ng-deep .widget li,h4 {
    color: #000 !important;
}
.footer a{
    transition: all 0.5s ease-in-out;
}
.footer a:hover {
    color: #0e2c5e;
    padding-left: 8px;
}
.help {
    width: 50%;
    margin: 0 auto;
}
.set_border {
    border-right: 1px solid;
}
.row_border {
    border-bottom: 1px solid;
}
.set_border1{
    border-right: 1px solid;
    height: 90%;
    text-align: center;
}
.concern{
    padding-top: 19px;
}
.connect {
    text-align: center;
}
.connect ul li{
    display: inline-block;
}
.connect ul li{
    padding-right: 5px;
}
.connect ul li a:hover{
    padding-left: 0;
    transform: scale(1.1);
}
.set_design {
    border: 1px solid;
    border-radius: 50px;
    padding: 6px;
    font-size: 23px;
}
.social_set {
    padding-right: 10%;
}
li{
    color: #000 !important;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
}
.return {
    margin: 0 auto;
    width: 95%;
}
.payment {
    float: right;
}
p{
    color: #000 !important;
    font-weight: 500;
}

h3 {
    font-weight: 500;
    color: #000;
}

@media (max-width:991px) {
    .set_border1 {
        border: none !important;
        height: 100%;
        text-align: left !important;
    }
    .set_border {
        border: none !important;
    }
    .row_border {
        border: none !important;
    }
    .payment {
        float: none !important;
    } 
    .return {
        margin: 0 auto;
        width: 100% !important;
    }
    .help {
        width: 100% !important;
        margin: 0 auto;
    }
    .connect {
        text-align: left !important;
    }
}



.ul-left{
    text-align: left;
    padding-left: 6rem;
}
.connect h1,
.help h1,
.set_border h1{
    font-size: 1.9rem!important;
    color: #0e2b5ec3;
    font-weight: 500;
}
.concern h1{
    font-size: 2rem !important;
}