<footer class="footer footer-2">
    <div class="footer-middle">
        <div [ngClass]="containerClass">
            <div class="row">
                <div class="col-sm-12 col-lg-3">
                   <div class="social_icons">
                       <ul>
                           <a href=""><li><i class="fa-brands fa-facebook"></i></li></a>
                           <a href=""><li><i class="fa-brands fa-instagram"></i></li></a>
                           <a href=""><li><i class="fa-brands fa-twitter"></i></li></a>
                       </ul>
                   </div>
                </div>

                <div class="col-lg-3">
                    <div class="widget">
                        <h4 class="widget-title">Help</h4>

                        <ul class="widget-list">
                            <li><a [routerLink]="['/privacy']">Privacy Policy</a></li>
                            <li><a [routerLink]="['/cancelpolicy']">Cancellation Policy</a></li>
                            <li><a [routerLink]="['/orderpolicy']">Order Policy</a></li>
                            <li><a [routerLink]="['/returnexchange']">Return Exchange</a></li>
                            
                            <li><a href="javascript:;">Shipping & Delivery</a></li>
                            
                            <li><a href="javascript:;">Refund Policy</a></li>
                            <li><a href="javascript:;">Track Your Order</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="widget">
                        <h4 class="widget-title">Store</h4>

                        <ul class="widget-list">
                            <li><a href="javascript:;">Accosories</a></li>
                            <li><a href="javascript:;">Women Fashion</a></li>
                            <li><a href="javascript:;">Store Sale</a></li>
                            <li><a href="javascript:;">Shipping</a></li>
                            <li><a href="javascript:;">Collections</a></li>
                            
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="widget">
                        <h4 class="widget-title">Support</h4>

                        <ul class="widget-list">
                            <!-- <li *ngIf="!token"><a routerLink="/shop/dashboard" (click)="showmodal($event)" >Sign In</a></li> -->
                            <li><a routerLink="/shop/cart">Feedback</a></li>
                            <li *ngIf="token"><a [routerLink]="['/contactUs']">Contact us</a></li>
                            <li *ngIf="token"><a [routerLink]="['/contactUs']">Customer Service</a></li>
                            <li><a [routerLink]="['/Terms&Condition']">Terms & condition</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="footer-bottom">
        <div [ngClass]="containerClass">
            <p class="footer-copyright font-weight-normal">Copyright © {{ year }} NutriVillage. All Rights Reserved.</p>
            <ul class="footer-menu">
                <li><a [routerLink]="['/Terms&Condition']" class="font-weight-normal">Terms Of Use</a></li>
                <li><a [routerLink]="['/privacy']" class="font-weight-normal">Privacy Policy</a></li>
            </ul>

            <div class="social-icons social-icons-color">
                <span class="social-label font-weight-normal">Social Media</span>
                <a href="https://www.facebook.com/Nutrivillage-102112495578733" class="social-icon social-facebook" title="Facebook"><i
                        class="icon-facebook-f"></i></a>
                <a href="javascript:;" class="social-icon social-twitter" title="Twitter"><i
                        class="icon-twitter"></i></a>
                <a href="https://www.instagram.com/nutrivillage_/" class="social-icon social-instagram" title="Instagram"><i
                        class="icon-instagram"></i></a>
                <a href="javascript:;" class="social-icon social-youtube" title="Youtube"><i
                        class="icon-youtube"></i></a>
                <a href="javascript:;" class="social-icon social-pinterest" title="Pinterest"><i
                        class="icon-pinterest"></i></a>
            </div>
        </div>
    </div> -->

    <div class="mb-10" *ngIf="isBottomSticky"></div>

</footer>