<main class="main">
    <molla-page-header title="About" subtitle="Us"></molla-page-header>
    <nav class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a routerLink="/">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a>Black Brusa</a>
                </li>
                <li class="breadcrumb-item active">About Us</li>
            </ol>
        </div>
    </nav>

    <section>
        <div class="container">
            <div class="row text-center">
                <div class="col-12">
                    <h4>About Us</h4>
                    <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem magni, consectetur ipsam aliquam exercitationem, sequi vel ad deserunt laudantium reiciendis amet voluptas nihil voluptates atque!</p> -->
                    <p>With an intent to serve the highest quality of cloths and footwear, Black Brusa was started in 2021. We, at Black Brusa aspire and promise ourselves to take care that the products served to our customers are in purest form and we can take pride in declaring that we have been quite successful in fulfilling that aspiration and delivering that promise. “Product Quality and customers’ faith” is our sole motto. Black Brusa was started amid the pandemic times and very closely seeing the chaos and havoc wrecked by the COVID pandemic, we took an oath that come what may the quality of our products would never be compromised and the faith bestowed upon us by our customers would never be broken.
                    </p>
                  
                </div>
            </div>
        </div>
    </section>

</main>